<% content_for :title do %>Ton calendrier<% end %>
<% content_for :description do %>Calendrier de tes évenements à venir<% end %>
<div class="container">
  <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
    <div class="col-sm-8 col-sm-offset-2 column hp-layer">
      <h1>Tes évenements à venir :</h1>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start time</th>
            <th>End time</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.title %></td>
              <td><%= event.description %></td>
              <td><%= event.start_time %></td>
              <td><%= event.end_time %></td>
              <td><%= link_to 'Show', event %></td>
              <td><%= link_to 'Edit', edit_event_path(event) %></td>
              <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <div id='calendar'></div>
      </div>
      <br>

      <%= link_to 'New Event', new_event_path %>
    </div>
  </div>
</div>