<%# add navigation links to this file %>

<ul class="nav navbar-nav">
	<li><%= link_to "QU'EST CE QUE C'EST ?", page_path('about') %></li>
	<li><%= link_to "COUNTDOWN", page_path('countdown') %></li>
    <% if current_user %>
		<li>
			<%= link_to 'LOGOUT', :logout, method: :post %>
		</li>
	<% else %>
		<li>
			<%= link_to 'REGISTER', new_user_path %>
		</li>
		<li>
			<%= link_to 'LOGIN', :login %>
		</li>
	<% end %>

</ul>

